<header class="header">
  <div class="header__container">
      <a href="/" class="header__logo-link">
          <img src="src/icons/logo.svg" alt="logo" class="header__logo">
      </a>
      <nav class="header__nav">
          <ul class="header__list">
              {{#each header_nav}}
              <li class="header__item">
                  <a href="{{this.href}}" class="header__link">{{this.text}}</a>
              </li>
              {{/each}}
          </ul>
      </nav>
  </div>
  <button class="header__burger-btn js-burger-button">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
{{> burgerModal}}