<section class="intro">
  <div class="intro__container">
    <div class="intro__swiper">
      <div class="swiper-wrapper">
        <div class="swiper__slide"></div>
      </div>
    </div>
  </div>
</section>