<section class="sub">
  <div class="sub__container">
    <h2 class="sub__title">Подпишись</h2>
    <p class="sub__text">Отправляем анонсы новых статей, выпусков и трансляций</p>
    <form action="#" class="sub__form">
      <div class="sub__form-block">
        <input type="email"
               class="sub__form-input"
               placeholder="Email"
               name="email"/>
        <input type="text"
               class="sub__form-input"
               placeholder="Телефон"
               name="phone"/>
        <input type="text"
               class="sub__form-input"
               onfocus="(this.type='date')"
               onblur="(this.type='text')"
               placeholder="11.02.2022"
               name="date"/>
        <input type="text"
               class="sub__form-input"
               onfocus="(this.type='time')"
               onblur="(this.type='text')"
               placeholder="15:00"
               name="time"/>
      </div>
      <button class="sub__form-button" type="submit">Подписаться</button>
    </form>
  </div>
</section>