.intro {
  max-width: 100%;
  padding-top: var(--header-height);

  &__container {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__swiper {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__slide {
    position: relative;
  }

  &__image {
    border-radius: .6rem;
    width: 100%;
    height: auto;
  }

  &__slider-name {
    position: absolute;
    bottom: 15.9rem;
    left: 5rem;

    @include font-title();
  }

  &__slider-buttons {
    display: flex;
    column-gap: 3.2rem;

    margin-top: 7.5rem;
  }

  &__slider-button {
    transition: .4s ease opacity;

    &:hover {
      opacity: .6;
    }
  }

  &__slider-icon {
    width: 10rem;
    height: auto;
  }
}