.header {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--white-fz-color);

  position: fixed;

  z-index: $ui-index-4;

  &__container {
    margin: var(--container);
    height: var(--header-height);

    display: flex;
    align-items: center;
    column-gap: 21.2rem;
  }

  &__logo-link {
    transition: .4s ease opacity;

    &:hover {
      opacity: .6;
    }
  }

  &__logo {
    width: 4.2rem;
    height: 5rem;
  }

  &__list {
    display: flex;
    align-items: center;

    column-gap: 3rem;
  }

  &__item {
    transition: .4s ease opacity;

    &:hover {
      opacity: .6;
    }
  }

  &__link {
    @include font-main();
  }
}