@mixin font-small() {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: var(--small-fz);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin font-main() {
  font-family: 'M PLUS 1p', sans-serif;
  color: var(--white-fz-color);
  font-size: var(--normal-fz);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin font-standart() {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: var(--standart-fz);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

@mixin font-title() {
  font-family: 'M PLUS 1p', sans-serif;
  color: var(--white-fz-color);
  font-size: var(--title-fz);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.24rem;
}