:root {
  --bg-color: #0B0A0D;
  --white-fz-color: #FFF;
  --black-fz-color: #0B0A0D;

  --title-fz: 8rem;
  --standart-fz: 2.4rem;
  --normal-fz: 1.6rem;
  --small-fz: 1.4rem;

  --container: 0 10rem;
}
